@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #ecf0f3;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    background: #ecf0f3;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.14);
    padding: 20px;
    border-radius: 20px;
}

.calculator input{
    grid-column: span 4;
    height: 90px;
    border: none;
    outline: none;
    background: #ecf0f3;
    color: #CD104D;
    box-shadow: inset -5px -5px 12px #fff,inset 5px 5px 12px rgba(0, 0, 0, 0.14);
    font-size: 40px;
    font-weight: bold;
    text-align: end;
    padding: 0 10px;
    margin-bottom: 15px;
}

.calculator input::placeholder{
    color: #CD104D;
}

button{
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    box-shadow: -5px -5px 12px #fff,5px 5px 12px rgba(0, 0, 0, 0.14);
    border-radius: 50%;
    margin:5px auto;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    color: #CD104D;
    font-weight: bold;
}

button:active{
    box-shadow: inset -5px -5px 12px #fff, inset 5px 5px 12px rgba(0, 0, 0, 0.14);
}
  
#equalBtn{
    width: 150px;
    border-radius: 25px;
    margin-left: 5px;
}